:root{

	--font-color:lightgrey;
	--font-color-dark:grey;
	}


#container{
	width: 800px;
	margin: auto;
	border:2px solid lightgrey;
}

/*--------------TITLE----------------*/
#title{
	width: 100%;
	height: 50px;
	font-size: 1rem;
	font-family: sans-serif;
	text-align: center;
	padding: 10px;
	margin-top: -5px;
	
}

/*------------FORM-SECTION----------------*/

#description-container{
	width: inherit;
	margin-top:10px;
	border:1px solid lightgrey;

}

#description-container form{
	margin-top:15px;
}

#margin-10px{
	margin-left: 10px;
	
}

/*--------------INPUT-BOX------------------*/

#description{
	width: 90%;
    height: 50px;
    border: none;
    margin-top: -18px;
    margin-left: 10px;
}
/*---------CATEGORY-CONTAINER---------*/

#select-container{
    
	width: 100%;
	border:1px solid lightgrey;
	display: flex;
}

/*---------Select-Category-----------*/
#category-container{
	width: 50%;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;

}

#category{
	margin-left: 111px;
    height: 24px;
    width: 115px;
}

/*----------DATE-PICKER-----------------*/

#date-container{
	margin-top: 10px;
	font-size: 1rem;
	font-family: sans-serif;
	width: 50%;
	padding: 10px;
	border-left: 2px solid lightgray;
	
}

/*---------BUTTON-CONTAINER--------------*/

#button-container{
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 12px;
}

#button-1{
	margin-left: 10px;
}

/*------TASK CONTAINER--------------*/

#task-container{
	width: 100%;
	border: 1px solid lightgray
}

.task-box{
	padding: 10px;
	width: 100%;
	border-top: 1px solid lightgray;
}



